# Use new container infrastructure to enable caching
sudo: false

# thanks to http://stackoverflow.com/a/24600210/3780203
# Handle git submodules yourself
git:
    submodules: false

# Choose a lightweight base image; we provide our own build tools.
language: c

# GHC depends on GMP. You can add other dependencies here as well.
addons:
  apt:
    packages:
    - libgmp-dev

# The different configurations we want to test. You could also do things like
# change flags or use --stack-yaml to point to a different file.
env:
- ARGS=""

before_install:
# Download and unpack the stack executable
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
- apt install postgresql libpq-dev
- apt install postgres libpq-dev
- sudo -u postgres createuser -se test
- sudo -u postgres psql -c "alter role test with password 'test'"
- sudo -u postgres psql -c "create database perservant"

# This line does all of the work: installs GHC if necessary, build the library,
# executables, and test suites, and runs the test suites. --no-terminal works
# around some quirks in Travis's terminal implementation.
script: stack --no-terminal --install-ghc test

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack
